body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    height: 100vh; /* Ensure full height */
    background-color: #111; /* Even darker background */
    color: #fff; /* Light text */
}

.container {
    display: flex;
    height: 100%; /* Use 100% of the body height */
}

.left-panel {
    width: 20%; /* Increased width */
    background-color: #222; /* Even darker panel background */
    padding: 20px;
}

.game-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818; /* Even darker game area background */
}

.right-panel {
    width: 20%; /* Increased width */
    background-color: #222; /* Even darker panel background */
    padding: 20px;
    position: relative;
}

#game-canvas {
    width: 100%;
    height: 100%;
    background-color: #000; /* Black canvas background */
}

canvas {
    z-index: 1;
}

#canvas-container {
    width: 90%;
    height: 90%;
    position: relative;
}

#overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.hidden {
    display: none !important;
}

.visible {
    display: block;
}

#login-view {
    padding: 20px;
}

#login-container {
    display: flex;
    flex-direction: column;
}

#login-container input {
    margin-bottom: 5px; /* Reduced margin */
    padding: 5px;
}

#login-container button {
    margin-bottom: 10px;
    padding: 8px 12px; /* Increased padding */
    background-color: #444; /* Brighter background */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
}

#login-container button:hover {
    background-color: #555; /* Darker background on hover */
}

#login-container input {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px; /* Rounded corners */
    padding: 8px; /* Increased padding */
}

#login-view h2 {
    color: #ddd;
    margin-bottom: 15px; /* Added margin */
}

#login-view {
    border: 1px solid #555; /* Added border */
    border-radius: 10px; /* Rounded corners */
    padding: 25px; /* Increased padding */
}

#profile-view {
    padding: 20px;
    border: 1px solid #555;
    border-radius: 10px;
    height: calc(100% - 40px); /* Take up the entire left panel */
    position: relative; /* For absolute positioning of logout button */
}

#logoutButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px; /* Make it wide */
    margin: 0 20px 20px 20px; /* Add margin */
    padding: 10px 15px; /* Increased padding */
    font-size: 1.1em; /* Increased font size */
    background-color: #800000; /* Red color for logout */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#logoutButton:hover {
    background-color: #A00000; /* Darker red on hover */
}

.panel-button {
    margin-bottom: 10px;
    padding: 8px 12px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.panel-button:hover {
    background-color: #555;
}

#nickname-container {
    display: flex;
    flex-direction: column;
}

#nickname-container input {
    margin-bottom: 5px;
    padding: 8px;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
}

#nickname-container button {
    margin-bottom: 10px;
    padding: 8px 12px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#nickname-container button:hover {
    background-color: #555;
}

#profile-view h2 {
    color: #ddd;
    margin-bottom: 15px;
}

#username-display {
    font-size: 1.2em;
    margin-bottom: 20px; /* Increased margin */
}

#profile-settings-view {
    padding: 20px;
    border: 1px solid #555;
    border-radius: 10px;
}

#game-settings-view {
    padding: 20px;
    border: 1px solid #555;
    border-radius: 10px;
}

#level-rankings-container {
    height: 100%;
}

#player-ranking-container {
    height: 60%;
}

#replay-table-container {
    height: 100%;
    overflow-x: auto;
}

#replay-table-scrollable {
    height: 60%; /* Adjust 250px based on other elements */
    overflow-y: scroll;
}

#level-rankings-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#replay-table tbody tr:nth-child(odd) {
    background-color: #333;
}

#replay-table tbody tr:nth-child(even) {
    background-color: #222;
}

#user-replay-table tbody tr:nth-child(odd) {
    background-color: #333;
}

#user-replay-table tbody tr:nth-child(even) {
    background-color: #222;
}

#replay-table, #user-replay-table {
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 300px;
  max-width: 400px;
  white-space: nowrap;
  border: 1px solid #555;
}

#replay-table th, #user-replay-table th {
    text-align: left;
    background-color: #444;
    padding: 5px;
}

#replay-table td, #user-replay-table td {
    padding: 5px;
    text-align: center;
}

#replay-table button, #user-replay-table button {
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 5px 10px;
}

#replay-table button:hover, #user-replay-table button:hover {
    background-color: #555;
}

#dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2; /* Ensure it's above the canvas */
    pointer-events: none; /* Allow interaction with the canvas */
    display: block;
}

#dark-overlay.darkened {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.5s ease-in;
}

canvas.blurred {
    filter: blur(5px);
    transition: filter 0.5s ease-in;
}

#level-finish-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5vh 5vw;
    border-radius: 10px;
    text-align: center;
    z-index: 12;
}

#level-finish-overlay h2 {
    font-size: 4vw;
    margin-bottom: 1vh;
}

#level-finish-overlay p {
    font-size: 2.5vw;
    margin-bottom: 3vh;
}

#level-finish-overlay button {
    background-color: #555;
    color: white;
    padding: 1vh 1.5vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2vw;
    margin: 0.5vh auto;
    width: 100%;
    display: none;
}

#level-finish-overlay button:hover {
    background-color: #777;
}

.replayFinished .replayVisible {
    display: block !important;
}

.playerFinished .playerVisible {
    display: block !important;
}

#level-finish-overlay {
    user-select: none;
}

#level-selection-overlay h2 {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 5vw;
    user-select: none;
}

#level-selection-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3vw;
    height: auto;
    overflow-y: auto;
}

.level-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw;
    position: static;
    width: auto;
    padding: 0;
    box-sizing: border-box;
}

.level-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw;
    position: static;
    width: auto;
    padding: 0;
    box-sizing: border-box;
}

.level-buttons a {
    display: block;
    aspect-ratio: 1;
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    border: 0.2vw solid white;
    text-align: center;
    user-select: none;
}

.level-buttons a > img { /* Target direct img children of level-buttons a */
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
    user-select: none;
    pointer-events: none;
    transition: filter 0.2s ease-in-out;
}

.level-buttons a:hover > img {
    filter: brightness(0.8);
}

.level-buttons a .level-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5vw;
    text-shadow: -0.1vw -0.1vw 0 black, 0.1vw -0.1vw 0 black, -0.1vw 0.1vw 0 black, 0.1vw 0.1vw 0 black;
    z-index: 1;
    white-space: nowrap;
    font-family: 'Helvetica';
    user-select: none;
}

.level-buttons a .level-time {
    position: absolute;
    bottom: 0.5vw; /* Position at the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    color: white;
    font-size: 1.5vw; /* Adjust size as needed */
    text-shadow: -0.1vw -0.1vw 0 black, 0.1vw -0.1vw 0 black, -0.1vw 0.1vw 0 black, 0.1vw 0.1vw 0 black; /* Keep text shadow for readability */
    z-index: 2; /* Ensure it's above the image and level-text */
    white-space: nowrap;
    user-select: none;
}

.level-buttons a .medal-icon {
    position: absolute;
    top: 0.5vw; /* Position at the top right */
    right: 0.5vw;
    width: 2.5vw; /* Adjust size as needed */
    height: 2.5vw;
    z-index: 3; /* Ensure it's above the image and level-text */
}

.level-buttons a .medal-icon img {
    width: 100%; /* Take full width of container */
    height: 100%; /* Take full height of container */
    object-fit: contain; /* Ensure image fits within container */
}

/* Scrollbar Styling */
#level-selection-overlay::-webkit-scrollbar {
    width: 0.5vw;
}

#level-selection-overlay::-webkit-scrollbar-track {
    background-color: #222;
}

#level-selection-overlay::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 0.25vw;
}

#level-selection-overlay::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}


#player-ranking-table {
    border-collapse: collapse;
    table-layout: fixed;
    min-width: 300px;
    max-width: 400px;
    white-space: nowrap;
    margin: 10px;
    border: 1px solid #555;
}

#player-ranking-table th {
    text-align: center;
    background-color: #444;
    padding: 5px;
}

#player-ranking-table td {
    padding: 8px;
    text-align: center;
}

#player-ranking-table td:nth-child(2) {
    text-align: left;
}

#player-ranking-table tbody tr:nth-child(odd) {
    background-color: #333;
}

#player-ranking-table tbody tr:nth-child(even) {
    background-color: #222;
}

#player-ranking-table tbody tr:hover {
    background-color: #444;
    transition: background-color 0.2s ease-in-out;
}

#my-player-ranking-table {
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 300px;
  max-width: 400px;
  white-space: nowrap;
  margin: 10px;
  border: 1px solid #555;
}

#my-player-ranking-table th {
    text-align: center;
    background-color: #444;
    padding: 5px;
}

#my-player-ranking-table td {
    padding: 8px;
    text-align: center;
}

#my-player-ranking-table td:nth-child(2) {
    text-align: left;
}

#my-player-ranking-table tbody tr:nth-child(odd) {
    background-color: #333;
}

#my-player-ranking-table tbody tr:nth-child(even) {
    background-color: #222;
}

#my-player-ranking-table tbody tr:hover {
    background-color: #444;
    transition: background-color 0.2s ease-in-out;
}

#player-ranking-scrollable {
    height: 100%;
    overflow-y: scroll;
}
