body {
    margin: 0;
    font-family: sans-serif;
    background-color: #1b1b1b;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel,
.right-panel {
    width: 20%; /* Adjust as needed */
    background-color: #202020;
    padding: 20px;
    color: white;
    position: relative;
}

.right-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Wypycha zawartość na górę i dół */
}

.left-panel h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.left-panel input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.left-panel button {
    background-color: #555;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    width: 100%;
}

#logoutButton {
    background-color: #8B0000; /* Dark Red */
    width: 80%;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.left-panel button:hover {
    background-color: #777;
}

.game-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#game-canvas {
    position: relative;
    width: 90%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    margin: auto; /* Center horizontally and vertically */
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
}

canvas {
    z-index: 1;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Przezroczysta czarna nakładka */
    z-index: 2;
    display: block; 
    pointer-events: none; /* Nakładka nie blokuje interakcji z canvasem */
}

#game-canvas.blurred #overlay {
    transition: background-color 0.5s ease-in; /* Płynne przyciemnienie */
    background-color: rgba(0, 0, 0, 0.7); /* Przezroczysta czarna nakładka */
}

canvas.blurred {
    filter: blur(5px);
    transition: filter 0.3s ease-in;
}

#win-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 5em;
    color: white;
    z-index: 3;
    user-select: none;
}

#replay-button {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    text-align: center;
}

#win-time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.level-buttons {
    margin-top: auto; /* Wypycha przyciski na dół */
}

.level-buttons button {
    background-color: #444;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
}

.level-buttons button:hover {
    background-color: #666;
}

#replay-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    height: calc(100vh - 400px); /* Adjust the 400px value as needed */
    overflow-y: scroll;
    display: block;
}


#replay-table th,
#replay-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #333;
    font-size: calc(8px + (14 - 8) * ((20vw - 100px) / (300 - 100)));
}

#replay-table button {
    font-size: calc(10px + (12 - 10) * ((20vw - 100px) / (300 - 100)));
}

#replay-table th {
    background-color: #333;
    color: white;
}

#replay-table tbody tr:nth-child(odd) {
    background-color: #282828;
}

#replay-table tbody tr:nth-child(even) {
    background-color: #202020;
}

#replay-table button {
    background-color: #555;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#replay-table button:hover {
    background-color: #777;
}
